.sidebarO {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  color: #818181;
}

.sidebarO>.MuiSvgIcon-root {
  padding: 5px;
}

.sidebarO>h3 {
  flex: 1;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 400;
}

.sidebarO>p {
  display: none;
  font-weight: 300;
}

.sidebarO:hover>p {
  display: inline;
}

.sidebarO_active>p {
  display: inline !important;

}

.sidebarO:hover,
.sidebarO:hover>p,
.sidebarO:hover>h3,
.sidebarO_active,
.sidebarO_active>p,
.sidebarO_active>h3 {
  background-color: #fcecec;
  color: #c04b37;
  font-weight: 800 !important;
}